html, body {
    height: 100%; 
    margin: 0; 
    padding: 0; 
}

span {
     display: inline-block;
}

#searchlist li { 
    padding: 15px 0px 15px 15px;
}

#searchlist li:hover {
    background-color: #7D7D7D; 
    color: white;
}

#infowindow {
    width: 30px;

}
.tips li { 
    font-family: Helvetica,Arial;
    padding: 10px 0px 10px 10px;
}

.tips li:hover {
    background-color: #7D7D7D; 
    color: white;
}

ul {list-style-type: none; 
    padding: 0; 
    margin: 0;
}

#map { height: 100%; z-index: 0}
#infoWindow { }
#basicinfo {}
#tweet-div {}

#instafeed {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 5; 
    width: 280px;
    height: 450px;
    background-color: rgba(255,255,255,.9);
    border: solid 2px lightblue;
    border-radius: 10px;
}
#searchpanel {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 6; 
    width: 300px;
    max-height: 450px;
    overflow: hidden;
}

#searchbox {
    height: 48px;
    background-color: rgba(255,255,255,.9);
    border: solid 2px lightblue;
    border-radius: 4px;
    box-sizing: border-box;
    width: 300px;


}
#searchinput {
    margin-left: 40px;
    padding: 10px;
    font-size: 20px;
    height: 44px;
    background-color: rgba(255,255,255,.9);
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    width: 255px;

}

#searchlist {
    padding: 0px;
    max-height: 450px;
    overflow: scroll;
    z-index: 7; 

}

.searchlist-item {
    border: solid 2px lightblue;
    border-radius: 4px;
    box-sizing: border-box;
    border-bottom: 0px;
    background-color: rgba(255,255,255,.5);

}